
.button{
    text-align:center;
    margin-top:10px;
}
.form-control {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1.176px 1.618px 0px 0px rgba(0, 37, 140, 0.1);
    color: rgb(1, 73, 172);
}
div{
    margin-top:10px;
}